<nav class="navbar">
    <div class="menu-toggle" id="christmasMenuBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 2.5l-7 12h4l-5 8h16l-5-8h4l-7-12z"></path>
            <path d="M12 22.5v-2"></path>
        </svg>
    </div>

    <ul class="menu-links" id="menuLinks">
        <li><a href="/">Ana Sayfa</a></li>
        <li><a href="/hakkimda">Hakkımda</a></li>
        <li><a href="/yazilarim">Yazılarım</a></li>
        <li><a href="/projelerim">Projelerim</a></li>
        <li><a href="/oyun">Oyun</a></li>
    </ul>
</nav>