<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>

     <main class="textandimage">
    <div class="christmas-photo-container">
        <img src="/buse1.jpeg" alt="Buse" class="profile-pic">
    </div>

    <section class="bio-content">
        <h1>Buse Kimdir?</h1>
        <p>Merhaba! Ben Buse. Bilgisayar mühendisliği 4.sınıf öğrencisiyim.Kod yazma serüvenim üniversitede başladı fakat lise 11 ve 12.sınıfta bir hocamız bazı derslerde ardunio seti getirirdi hatta bunun
            için bir eğitim de veriyodu.O zamanlar utangaç bir insan olduğum için ve üniversite sınavına odaklandığım için hap içimde kalmıştı.O zamanlar öğrenmemem hayatımda bir pişmanlık olarak kaldı.Fakat artık istediğim yerdeyim.Birazda ilgilendiğim ananlardan bahsediyim.
            Ben birinci olarak yapay zekka ile ilgileniyorum ama işin full-stack kısmında da ilgim var bir yerden başlamak lazım diyerekten bu portfolyo sitesine başladım
            Hobilerime gelirsek film izlemek ve tek başıma bilmediğim yerleri keşfetmek bu bana çok iyi hissettiriyo.
        </p>
        
        
    </section>
</main>

    <%- include('partials/footer') %>
    <script src="script.js"></script>
</body>
</html>