<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buse'nin Portfolyosu</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<%- include('partials/navbar') %>

 <div class="textandimage">
<div class="christmas-photo-container">
    <img src="/buse1.jpeg" alt="Buse Profil" class="profile-pic">
</div>
    <h2 class="blink-text">MERHABA BEN BUSE</h2>
    <h2 class="blink-text">bilgisayar mühendisi </h2>
</div>  
    <%- include('partials/footer') %>
    <script src="script.js"></script>
</body>
</html>